body {
    margin: 0;
    background-color: rgb(87, 87, 87);
}
nav {
    height: 4rem;
    background: rgb(38, 38, 38);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}
nav img {
    max-width: 100%;
    max-height: 100%;
}

nav p {
    margin-right: auto;
    margin-left: 20px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: rgb(184, 184, 184);
    font-size: 20px;
    margin-right: 50px;
}
nav a:hover{
    color: rgb(84, 144, 255);
    cursor: pointer;
    text-decoration: underline;
}

.card_container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.card {
    height: 90%;
    width: 50%;
    margin: 1%;
    background-color: rgb(38, 38, 38);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px rgb(28, 30, 37);
}
.photo {
    background-color: gray;
    border-radius: 50%;
    width: 300%;
    height: 90%;
    margin-left: 3%;
    margin-right: auto;
}
.photo img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.info {
    margin-left: 10%;
}
.info p {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-right: 5px;
}

.info img {
    width: 20%;
    border-radius: 50%;
    margin: 3%;
    border: 3px solid rgb(38, 38, 38);
}
.info img:hover {
    border-color: rgb(135, 175, 207);
}

.projects_container {
    display: flex;
    width: 90%;
    gap: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;

}
.projects_title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.title1 {
    font-size: 50px;
    color: white;
}
.line {
    width: 40%;
    height: 0px;
    border: 2px solid white;
}
.project {
    width: 30%;
    
}
.project img {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(28, 30, 37);
}
.project img:hover {
    border: 2px solid rgb(0, 47, 255);
    box-shadow: 0 0 30px rgb(0, 31, 141);
}
.qualifications_title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.title2 {
    font-size: 50px;
    color: white;
}
.qualifications_container {
    width: 90%;
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.qualifications {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.qualifications_description {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30%;
}
.see_more {
    color: rgb(200, 200, 200);
    font-size: 30px;
    margin-right: 10%;
    text-decoration: underline;
}
.see_more :hover {
    color: rgb(0, 5, 158);
    text-decoration: underline;
    cursor: pointer;
}
footer {
    background-color: rgb(50, 50, 60);
    height: 300px;
    box-shadow: 0 0 20px rgb(50, 50, 60);
    color: rgb(128, 128, 152);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
}
footer label {
    padding-left: 70%;
}